body:after {
  content: url(../img/2color-transparentbg.png);
  position: fixed;
  zoom:20%;
  -moz-transform: scale(.2, .2);
  -moz-transform-origin: bottom right;
  bottom: 5em;
  right: 10em;
}

.reveal figcaption {
  font-size: 50% !important;
  margin-top: -15px;
  margin-bottom: 15px;
}
